<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<add key="spreadsheet_secretsfile" value="C:\path\to\client_secrets.json" />
		<add key="spreadsheet_appname" value="---APPNAME---" />
		<add key="spreadsheet_id" value="---REPLACE WITH SPREADSHEET ID---" />
		<add key="spreadsheet_sheetname_yesterday" value="--REPLACE WITH SPREADSHEET SHEET NAME---" />
		<add key="spreadsheet_sheetname_today" value="--REPLACE WITH SPREADSHEET SHEET NAME---" />
		<add key="spreadsheet_sheetname_tomorrow" value="--REPLACE WITH SPREADSHEET SHEET NAME---" />
		<add key="spreadsheet_sheetname_tomorrow2" value="--REPLACE WITH SPREADSHEET SHEET NAME---" />
		<add key="pcterminal_connectionstring" value="Provider=Microsoft.ACE.OLEDB.12.0;data source=C:\\path\\to\\file.mde" />
		<add key="pcterminal_query" value="SELECT * FROM ---table---" />
		<add key="app_sleep_seconds" value="5" />
		<add key="verbose_local_output_only" value="true"/>
	</appSettings>
</configuration>