<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<add key="blogger_appcredentialspath" value="C:\\path\\to\\credentials.json" />
		<add key="blogger_appname" value="_APPNAME_" />
		<add key="blogger_blogid" value="_BLOGID_" />
		<add key="blogger_postid" value="_POSTID_" />
		<add key="pcterminal_connectionstring" value="Provider=Microsoft.ACE.OLEDB.12.0;data source=C:\\path\\to\\file.mde" />
		<add key="pcterminal_query" value="SELECT * FROM _TABLE_" />
		<add key="app_sleep_seconds" value="5" />
		<add key="verbose_localdata" value="true"/>
		<add key="verbose_checkblogger" value="true"/>
	</appSettings>
</configuration>